<div class=settings>
    <div class=settings-title>
        <span class=text-xl>Video and Streaming</span>
    </div>
    <div class=settings-container>
        <span class=text-main>Streaming Quality</span>
        <mat-list>
          <mat-list-item class="setting">
            <div class='settings-text width-full'>
              <mat-radio-button value="1"><span class=text-sub>Standard</span></mat-radio-button>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item  class="setting">
            <div class='settings-text'>
              <mat-radio-button value="1"><span class=text-sub>High</span></mat-radio-button>
            </div>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="setting">
            <div class='settings-text'>
              <mat-radio-button value="1"><span class=text-sub>Ultra</span></mat-radio-button>
            </div>
          </mat-list-item>
        </mat-list>
    </div>
    <mat-divider></mat-divider>
    <div class=settings-container>
      <mat-list>
        <mat-list-item class="setting">
          <div class='settings-text'>
            <mat-slide-toggle><span class=text-sub>Stream On WIFI only</span></mat-slide-toggle>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
</div>
