<div class="header">
  <img class=logo src="assets/logo_md.png" alt="logo">
</div>
<div class=center>
    <div class=content>
        <mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedIndex" (selectedIndexChange)="handleTabChange($event)">
            <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
              <!-- <router-outlet></router-outlet> -->
            </mat-tab>
          </mat-tab-group>
    </div>
</div>
<div class='center content'>
    <router-outlet></router-outlet>
</div>
