<div class="header">
  <img class=logo src="assets/logo_md.png" alt="logo">
  <!-- <button (click)='handleSignOut()' class='ripple secondary'>Log Out</button> -->
</div>
<div class='content'>
    <mat-tab-group mat-align-tabs="center" [selectedIndex]="selectedIndex" (selectedIndexChange)="handleTabChange($event)">
      <mat-tab *ngFor="let tab of tabs" [label]="tab.name"></mat-tab>
    </mat-tab-group>
</div>
<div class='center'>
  <div class='content center'>
      <router-outlet></router-outlet>
  </div>
</div>

