

//Font
$font: 'Raleway', sans-serif;

//Colors
$primary: #2F89FC;
$secondary: #30E3CA;

$primary-active: #266eca;
$secondary-active: #26b6a2;

$success: $secondary;
$danger: #F56565;
$warning: #ECC94B;

$bg: #F5F5F5;
$bg-dark: #c4c4c4;

$primary-text: #40514E;
$light-text: #8C9694;
