@import './colors_fonts', './checkbox', './input';


// FORM CONTROL src: https://codepen.io/chrisoncode/pen/IdGKH

/* form starting stylings ------------------------------- */

.form-group {
  position:relative;
  margin-bottom:32px;
  width: 300px;
}
