.header > img {
  margin-top: 20px;
  margin-bottom: 70px;
}
span.title {
  margin-bottom: 80px;
}
.actions {
  margin-top: 20px;
  margin-bottom: 30px;
}
.sign-up {
  margin-left: 4px;
  cursor: pointer;
}
