<div class="header">
    <img class=logo-big src="assets/logo_md.png" alt="logo">
  </div>
  <span class='title center'>Welcome Back</span>
  <div class='center'>
    <form>
        <div class="form-group">
            <input type="email" id="email" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Email</label>
            <span class=input-icon><fa-icon [icon]="emailIcon"></fa-icon></span>
        </div>
        <div class="form-group">
            <input type="password" id="password" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Password</label>
            <span class=input-icon><fa-icon [icon]="passwordIcon"></fa-icon></span>
        </div>
    </form>
  </div>
  <div class="actions center">
    <button class='bg-primary ripple'>Sign In</button>
  </div>
  <div class=center>
    <span>Don't have an account?<span class="sign-up secondary underline">Sign Up</span></span>
  </div>

