.movie-container {
  display: flex;
  overflow-x: scroll;
  padding: 30px;
}
span.text-xl {
  margin-top: 20px;
  margin-left: 0;
}

@media (min-width: 640px) {
  span.text-xl {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  span.text-xl {
    margin-left: 30px;
  }
}
