.header > img {
  margin-top: 20px;
  margin-bottom: 70px;
}
span.title {
  margin-bottom: 25px;
}
span.title-2 {
  margin-bottom: 80px;
}
.log-in, .tlc {
  margin-left: 4px;
  cursor: pointer;
}
.actions {
  margin-top: 20px;
  margin-bottom: 30px;
}

