.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  margin-bottom: 100px;
}

.options-container {
  display: flex;
  flex-direction: column;
}
.option {
  cursor: pointer;
}
.option:hover {
  color: #2F89FC;
}
