.header {
  display: flex;
  width: 100%;
  justify-content: center;
}
.header > img {
  margin-top: 20px;
  margin-bottom: 70px;
}
.actions > button {
  margin-bottom: 80px;
}
span.title {
  margin-bottom: 140px;
}
