

    <div class='navigation bg-default'>
      <div class=actions>
        <div class=action><fa-icon (click)='handleNav(["/"])' size='lg' [icon]="homeIcon"></fa-icon></div>
        <div class=action><fa-icon (click)='handleNav(["/search"])' size='lg' [icon]="searchIcon"></fa-icon></div>
        <div class=action><fa-icon (click)='handleNav(["/user/watchlist"])' size='lg' [icon]="watchlistIcon"></fa-icon></div>
        <div class=action><fa-icon (click)='handleNav(["/user/options"])' size='lg' [icon]="settingsIcon"></fa-icon></div>
      </div>
    </div>
